
.btn-dark {
	.button-variant(@btn-dark-color; @btn-dark-bg; @btn-dark-border);

	&:hover {
		color: @btn-dark-border;
	}
}

.btn.btn-white {
	.button-variant(@btn-white-color; @btn-white-bg; @btn-white-border);

	&:hover {
		background: #fff;
		border-color: #fff;
		color: rgba(0, 0, 0, .9);
	}
}

.btn-primary {
	&:hover {
		color: @btn-primary-border;
		border-color: @btn-primary-border;
	}
}

.btn-success {
	&:hover {
		color: @btn-success-border;
		border-color: @btn-success-border;
	}
}

.btn-info {
	&:hover {
		color: @btn-info-border;
		border-color: @btn-info-border;
	}
}

.btn-warning {
	&:hover {
		color: @btn-warning-border;
		border-color: @btn-warning-border;
	}
}

.btn-danger {
	&:hover {
		color: @btn-danger-border;
		border-color: @btn-danger-border;
	}
}

.btn {
    border-width: 2px;
    transition: color ease-in-out 0.15s, background ease-in-out 0.15s;

    &:hover {
        background: transparent;
    }
}

.btn-default {
    background: transparent;
    color: #333;

    &:hover {
        background-color: @btn-default-border;
        border-color: @btn-default-border;
    }
}
