body {
	font-weight: 300;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: @headings-font-weight;
	text-transform: uppercase;
}

p {
	margin: 0 0 20px;
}

a {

}

footer {
	font-weight: @headings-font-weight;
	margin-bottom: 30px;

	small {
		font-weight: @headings-font-weight;
		font-size: 14px;
	}
}

a:hover {
	text-decoration: none;
}